.home {
  width: 100%;
  display: flex;
  padding-top: 100px;
  h1 {
    font-weight: 500;
    font-size: 2.7rem;
    line-height: 100%;
  }
}

hr {
  border: none;
}
.videoContainer {
  width: 52%;
}
.ctaContainer {
  width: 48%;
}

.videoContainer, .ctaContainer {
  height: calc(100vh - 100px);
  position: relative;
  overflow: hidden;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

  video {
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }

  svg {
    position: absolute;
    z-index: 1;
    transform: rotate(90deg);
    height: 100%;
    top: 0;
    right: -5vw;
    path {
      fill: white !important;
    }
  }
  button {
    border-color: #07538D !important;
    background: #07538D !important;
    &:hover {
      border-color: #62849c !important;
      background: #62849c !important;
    }
  }
}

.videoContainer {
  @media screen and (max-width: 768px) {
    display: none;
  }
  @media screen and (min-width: 768px) {
    video {
      display: block;
    }
  }
}

.ctaContainer {
  background: #fff url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='615' height='554'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath d='M463.283 528.726c45.144 0 95.716 8.237 151.717 24.712V0H41.584C28.58 76.038-4.694 126.702.957 203.448c16.342 221.959 215.179 325.278 462.326 325.278z' fill='%23d3e4f0'/%3E%3Cpath xmlns='http://www.w3.org/2000/svg' d='M382.319 485.092c54.57 14.534 187.124 6.139 232.681-13.977V0H122.36c-16.232 41.585 18.088 107.04 18.088 154.372 0 203.855 45.087 278.309 241.87 330.72z' fill='%2399c0de '/%3E%3Cpath d='M443.883 440.71c54.208 0 128.702-54.567 171.117-81.896V0H231.198c-21.166 38.7-14.497 103.867-14.497 151.086 0 150.221 76.96 289.624 227.182 289.624z' fill='rgba(48,127,188)'/%3E%3C/g%3E%3C/svg%3E") top right no-repeat fixed;
  background-size: 25%;
  > div {
    padding: 0 10%;
  }
  hr {
    width: 20px;
    height: 2px;
    margin-bottom: 15px;
    background: black;
    border: none;
  }
  h1, h2, h3 {
    mix-blend-mode: multiply;
  }
  @media screen and (max-width: 768px) {
    width: 100%;
    background: url("https://res.cloudinary.com/ia-interactive/image/upload/v1651239713/kinetic-pattern-grey_copy_zxd1av.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    //background: #ece9e6; /* fallback for old browsers */
    //background: -webkit-linear-gradient(to right, #ece9e6, #ffffff); /* Chrome 10-25, Safari 5.1-6 */
    //background: linear-gradient(to right, #ece9e6, #ffffff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    //background-position: 50% 100%;
    //background-size: cover;
  }
}


.about {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
  width: 100%;
  background: black url("data:image/svg+xml,%3Csvg width='1280' height='710' xmlns='http://www.w3.org/2000/svg'%3E %3Cg fill='rgba(48,127,188)' fill-rule='evenodd'%3E %3Cpath d='M0 63.354c47.677-2.931 102.14 12.343 163.387 45.822 91.87 50.22 126.954 158.927 248.81 226.016 121.856 67.09 217.644 28.645 324.582 86.582C843.72 479.71 882.997 594 979.392 646.458c64.263 34.971 130.87 56.185 199.821 63.641H0V63.354z'/%3E %3Cpath d='M0 1.393C50.612-3.2 109.835 13.082 177.667 50.234c101.749 55.73 130.439 163.5 265.397 237.95 134.958 74.45 204.648 26.67 323.085 90.963 118.436 64.293 142.832 176.85 249.59 235.062 71.173 38.808 167.927 70.771 290.261 95.89H0V1.393z' opacity='.7'/%3E %3C/g%3E %3C/svg%3E") no-repeat fixed;
  background-position: left 200% !important;
  color: white;
  text-align: center;

  border: 15px solid;
  border-left: 0;
  border-right: 0;
  border-image-slice: 1;
  border-width: 5px;
  border-image-source: linear-gradient(to left,  #05416F, #5496C9);
  border-bottom: 0px solid;

  @media screen and (max-width: 768px) {
    min-height: 100vh;
    background: black url("data:image/svg+xml,%3Csvg width='686' height='644' xmlns='http://www.w3.org/2000/svg'%3E %3Cg fill='rgba(48,127,188)' fill-rule='evenodd'%3E %3Cpath d='M140.515 611.116C-12.61 495.728-45.706 281.379 66.592 132.353 178.892-16.673 394.06-43.941 547.185 71.446c153.125 115.388-83.89 141.804-196.188 290.83-112.299 149.026-57.357 364.228-210.482 248.84z' opacity='.8'/%3E %3Cpath d='M427 533.716c143.042 0 259-60.441 259-135 0-74.558-190.587-12.488-333.629-12.488-143.041 0-184.371-62.07-184.371 12.488 0 74.559 115.958 135 259 135z' opacity='.6'/%3E %3C/g%3E %3C/svg%3E") center/auto 100% no-repeat;
    border-left: 0 !important;
    border-right: 0 !important;
  }

  > div {
    padding: 0 20%;
    @media screen and (max-width: 768px) {
      padding: 2.5% 10%;
    }
    h1 {
      color: white;
      text-transform: uppercase;
      font-weight: bold;
      letter-spacing: 1px;
      font-size: 3rem;
      margin-bottom: 15px;
      @media screen and (max-width: 768px) {
        line-height: 100%;
      }
    }
    hr {
      width: 20px;
      height: 2px;
      margin-bottom: 15px;
      background: white;
    }
    p {
      font-weight: 700;
    }
  }
}

.services {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 66vh;
  height: auto;
  width: 100%;
  color: black;
  text-align: center;

  background: url('https://res.cloudinary.com/ia-interactive/image/upload/v1651239713/kinetic-pattern-grey_copy_zxd1av.jpg') no-repeat;
  background-size: cover;
  background-position: center center;
  border: 15px solid;
  border-left: 0;
  border-right: 0;
  border-image-slice: 1;
  border-width: 5px;
  border-image-source: linear-gradient(to left,  #05416F, #5496C9);
  border-bottom: 5px solid;

  @media screen and (max-width: 767px) {
    border: 0 !important;
    padding: 2rem 1rem;
    h3 {
      font-size: 2rem;
      line-height: 100%;
    }
  }

  > div {
    padding: 0 5%;
      @media screen and (max-width: 767px) {
        padding: 0;
        img {
          height: 125px !important;
        }
        h2 {
          font-size: 1.5rem;
        }
      }
      h1 {
      color: black;
      text-transform: uppercase;
      font-weight: bold;
      letter-spacing: 1px;
      margin-bottom: 15px;
    }
    h3 {
      font-weight: 400;
      font-size: 3rem;
      letter-spacing: 2px;
    }
    h3, p {
      padding: 0 2rem;
    }
    hr {
      width: 20px;
      height: 2px;
      margin-bottom: 15px;
      background: black;
    }
    p {
      //font-weight: 700;
    }
    img {
      height: 150px;
      width: auto;
      padding: 2rem 0;
    }
  }
}

.attorneys {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 66vh;
  height: auto;
  width: 100%;
  background: black;
  color: white;
  text-align: center;
  background: url('https://res.cloudinary.com/ia-interactive/image/upload/v1651084202/pexels-photo-1000740_axdqz4.jpg') fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  @media screen and (max-width: 767px) {
    padding: 2rem;
    border-left: 0 !important;
    border-right: 0 !important;
    background: black url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='615' height='554'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath d='M463.283 528.726c45.144 0 95.716 8.237 151.717 24.712V0H41.584C28.58 76.038-4.694 126.702.957 203.448c16.342 221.959 215.179 325.278 462.326 325.278z' fill='%23d3e4f0'/%3E%3Cpath xmlns='http://www.w3.org/2000/svg' d='M382.319 485.092c54.57 14.534 187.124 6.139 232.681-13.977V0H122.36c-16.232 41.585 18.088 107.04 18.088 154.372 0 203.855 45.087 278.309 241.87 330.72z' fill='%2399c0de '/%3E%3Cpath d='M443.883 440.71c54.208 0 128.702-54.567 171.117-81.896V0H231.198c-21.166 38.7-14.497 103.867-14.497 151.086 0 150.221 76.96 289.624 227.182 289.624z' fill='rgba(48,127,188)'/%3E%3C/g%3E%3C/svg%3E") top right no-repeat fixed;
    background-size: 150%;
    h1 {
      font-size: 2rem !important;
      padding: 2rem 0;
      margin: 0 auto;
    }

    hr {
      display: none;
    }
    span.ant-avatar.ant-avatar-circle.ant-avatar-image {
      //height: 150px !important;
      width: 150px !important;
    }
    h3 {
      font-weight: 400 !important;
    }
  }
  > div {
    width: 100%;
    padding: 0 5%;
    h1 {
      color: white;
      text-transform: uppercase;
      font-weight: 700;
      letter-spacing: 7px;
      margin-bottom: 15px;
      font-size: 3rem;
      @media screen and (max-width: 768px) {
        margin-bottom: 30px;
      }
    }
    h3 {
      font-weight: 200;
      font-size: 1rem;
      letter-spacing: 2px;
      color: white;
      margin-top: 2rem;
    }
    h3, p {
      padding: 0 2rem;
    }
    hr {
      width: 20px;
      height: 2px;
      margin-bottom: 100px;
      background: white;
    }
  }
}

.vouch {
  border: 15px solid;
  border-left: 0;
  border-right: 0;
  border-image-slice: 1;
  border-width: 5px;
  border-image-source: linear-gradient(to left,  #05416F, #5496C9);
  border-bottom: 5px solid;
  background: #000 url("data:image/svg+xml,%3Csvg width='1280' height='433' xmlns='http://www.w3.org/2000/svg'%3E %3Cpath d='M0 0h1280L0 433z' fill='rgba(48,127,188)' fill-rule='evenodd'/%3E %3C/svg%3E ") top/100% no-repeat fixed;

  @media screen and (max-width: 768px) {
    border-left: 0;
    border-right: 0;
    background: #000 url("data:image/svg+xml,%3Csvg width='1280' height='433' xmlns='http://www.w3.org/2000/svg'%3E %3Cpath d='M0 0h1280L0 433z' fill='rgba(48,127,188)' fill-rule='evenodd'/%3E %3C/svg%3E ") top/100% no-repeat;
  }
}

.press {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 70vh;
  height: auto;
  width: 100%;
  background: white;
  color: black;
  background: #fff url("data:image/svg+xml,%3Csvg width='686' height='644' xmlns='http://www.w3.org/2000/svg'%3E %3Cg fill='rgba(48,127,188)' fill-rule='evenodd'%3E %3Cpath d='M140.515 611.116C-12.61 495.728-45.706 281.379 66.592 132.353 178.892-16.673 394.06-43.941 547.185 71.446c153.125 115.388-83.89 141.804-196.188 290.83-112.299 149.026-57.357 364.228-210.482 248.84z' opacity='.8'/%3E %3Cpath d='M427 533.716c143.042 0 259-60.441 259-135 0-74.558-190.587-12.488-333.629-12.488-143.041 0-184.371-62.07-184.371 12.488 0 74.559 115.958 135 259 135z' opacity='.6'/%3E %3C/g%3E %3C/svg%3E") center/auto 100% no-repeat fixed;
  background: white;
  > div {
    width: 100%;
    padding: 5px 5%;
    background: white;
    h1 {
      color: black;
      text-transform: Capitalized;
      letter-spacing: 1px;
      margin-bottom: 2rem;
      margin-top: 1rem;
      font-size: 2rem;
      @media screen and (max-width: 768px) {
        text-align: center;
      }
    }
    h3 {
      font-weight: 200;
      font-size: 1rem;
      letter-spacing: 2px;
      color: white;
      margin-top: 2rem;
    }
    h3, p {
      padding: 0 2rem;
    }
    hr {
      width: 20px;
      height: 2px;
      margin-bottom: 100px;
      background: white;
    }
  }
}

.pressHide {
  @media screen and (max-width: 1250px) {
    display: none !important;
  }
}

.overlay {
  width: 100%;
  height: 100%;
  background: url('https://therootsofmusic.org/wp-content/themes/roots/assets/images/overlay.png') repeat;
}


iframe {
  max-width: 1300px !important;
  @media screen and (max-width: 1250px) {
    max-width: 900px !important;
  }
}
