.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 2;
	height: 100px;
	background: black;
	padding: 0 1rem;
	@media screen and (max-width: 768px) {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}

.header h1 {
	float: left;
	margin: 0;
	padding: 0 15px;
	font-size: 40px;
	line-height: 100px;
	font-weight: 400;
	font-family: 'Inter', arial, sans-serif;;
	color: white;
	@media screen and (max-width: 768px) {
		padding: 0;
	}
}

.header nav {
	float: right;
	font-size: 100%;
	@media screen and (max-width: 768px) {
		display: none;
	}
}

.header nav a {
	display: inline-block;
	height: 56px;
	line-height: 100px;
	margin: 0 15px;
	min-width: 50px;
	text-align: center;
	background: rgba(255,255,255,0);
	text-decoration: none;
	color: whitesmoke;
	will-change: background-color;
	transition-property: color;
	transition-duration: 300ms;
	text-transform: uppercase;
	position: relative;
	font-size: 1.316rem;
	font-weight: bold;
	letter-spacing: 1px;
}

.header nav a:hover,
.header nav a:active,
.header nav a.active {
	color: #7f7bfb;
}

.header nav a:after {
	content: '';
	width: 0%;
	border-bottom: 3px solid #7f7bfb;
	position: absolute;
	bottom: -12px;
	left: 0;
	transition-duration: width;
	transition-duration: 300ms;

}

.header nav a:hover:after, .header nav a.active:after {
	width: 100%
}

@media all and (max-width: 768px) {
	.header h1{
		font-size: 1.5rem;
	}
  .header nav a{
		line-height: 100px;
		margin: 0 8px;
  }
}

.mobile {
	display: none;
	@media all and (max-width: 768px) {
		display: inline-block;
	}
}

.drawer {
	ul, ul li {
		list-style-type: none !important;
		padding: 0;
		margin: 0 auto;
		width: 100%;
		text-align: center;
		a {
			color: white;
			width: 100%;
		}
	}
	li {
		height: 10vh;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 2rem;
		font-weight: 700;
		letter-spacing: 1px;
	}
}
